<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549833888126-b01fatib7k1b3523am0gbc9mr4h6na23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549833888126-b01fatib7k1b3523am0gbc9mr4h6na23</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549833888126-ovmqn4bca32hk2mj61phmb3v860pi5eq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_IMyvEsgJ82YgW07mxVSx3dverDealPU</string>
	<key>GCM_SENDER_ID</key>
	<string>549833888126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sciflare.sci</string>
	<key>PROJECT_ID</key>
	<string>sciflare-90478</string>
	<key>STORAGE_BUCKET</key>
	<string>sciflare-90478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549833888126:ios:52b2ee96affef7863a232f</string>
</dict>
</plist>